<div class="shop-page-wrapper">
  <mat-toolbar class="shop-nav-bar">
    <div class="content-wrapper">
      <div class="desktop-nav">
        <button mat-button [matMenuTriggerFor]="categoryMenu">
          <span>{{ selectedCategory || 'Categoría' }}</span>
          <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #categoryMenu="matMenu">
          <button mat-menu-item (click)="selectCategory(null)">Ver Todas</button>
          <button *ngFor="let cat of categories" mat-menu-item (click)="selectCategory(cat)">
            {{ cat }}
          </button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="brandMenu">
          <span>{{ selectedBrand || 'Marca' }}</span>
          <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #brandMenu="matMenu">
          <button mat-menu-item (click)="selectBrand(null)">Ver Todas</button>
          <button *ngFor="let brand of brands" mat-menu-item (click)="selectBrand(brand)">
            {{ brand }}
          </button>
        </mat-menu>
      </div>
      <div class="mobile-nav">
        <button mat-button [matMenuTriggerFor]="mobileMenu">
          <mat-icon>menu</mat-icon>
          <span>Menú</span>
        </button>
        <mat-menu #mobileMenu="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="mobileCategoryMenu">
            {{ selectedCategory || 'Categoría' }}
          </button>
          <mat-menu #mobileCategoryMenu="matMenu">
            <button mat-menu-item (click)="selectCategory(null)">Ver Todas</button>
            <button *ngFor="let cat of categories" mat-menu-item (click)="selectCategory(cat)">
              {{ cat }}
            </button>
          </mat-menu>
          <button mat-menu-item [matMenuTriggerFor]="mobileBrandMenu">
            {{ selectedBrand || 'Marca' }}
          </button>
          <mat-menu #mobileBrandMenu="matMenu">
            <button mat-menu-item (click)="selectBrand(null)">Ver Todas</button>
            <button *ngFor="let brand of brands" mat-menu-item (click)="selectBrand(brand)">
              {{ brand }}
            </button>
          </mat-menu>
        </mat-menu>
      </div>
      </div>
  </mat-toolbar>
  <div class="content-wrapper">
    <app-product-list
      [isCarousel]="false"
      [showFilterBar]="false"
      [products]="products"
      [totalProducts]="totalProducts"
      [pageSize]="pageSize"
      (pageChange)="onPageChange($event)">
    </app-product-list>
  </div>
</div>
<app-testimonials></app-testimonials>    
  <app-info-section></app-info-section>