<div class="info-container">
<div class="info-card">
  <h2>LOCALES</h2>
  <p>Contamos con más de 7 locales en todo Lima Metropolitana</p>
  <a mat-button routerLink="/ubicaciones">
    VER UBICACIONES <mat-icon>chevron_right</mat-icon>
  </a>
</div>
<div class="info-card">
  <h2>RESERVAS</h2>
  <p>Genera un cita virtual hoy y asiste sin problemas a nuestros locales.</p>
  <button mat-button (click)="openBookingDialog()">
    RESERVAR UNA CITA
  </button>
</div>
  <div class="info-card">
  <h2>NOSOTROS</h2>
  <p>Conoce la historia detrás de nuestra barbería...</p>
  <a mat-button routerLink="/nosotros">
    IR <mat-icon>chevron_right</mat-icon>
  </a>
</div>
</div>