.footer-container {
  background-color: #212121;
  color: #aaa;
  padding: 40px 20px 20px;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.footer-section {
  flex: 1;
  min-width: 250px;
}
h4 {
  color: #d4c39a; 
  margin-bottom: 15px;
  font-size: 1.2em;
}
.footer-section.social a {
  color: #aaa;
  margin: 0 10px;
}
.footer-bottom {
  text-align: center;
  border-top: 1px solid #444;
  padding-top: 20px;
  font-size: 0.9em;
}
@media (max-width: 768px) {
  .detail-container {
    flex-direction: column; 
  }
}