<mat-toolbar class="main-header">
  <div class="content-wrapper">
    <a routerLink="/" class="logo-link">
      <img 
        src="https://cdn.midjourney.com/a3d72ee2-72b5-408a-8a02-c823e06247fe/0_2.png" 
        alt="Gentlemen Frontend Logo" 
        class="header-logo">
    </a>
    <span class="spacer"></span>
    <div class="desktop-menu">
      <a mat-button (click)="openBookingDialog()">Reservar cita</a>
      <a mat-button routerLink="/tienda">Tienda</a>
      <a mat-button routerLink="/servicios">Servicios</a>
      <a mat-button routerLink="/ubicaciones">Ubicaciones</a>
      <ng-container *ngIf="isLoggedIn$ | async; else loggedOutMenu">
        <a mat-button routerLink="/mi-cuenta">Mi Cuenta</a>
        <a mat-button (click)="logout()">Cerrar Sesión</a>
      </ng-container>
      <ng-template #loggedOutMenu>
        <a mat-button routerLink="/auth/login">Iniciar Sesión</a>
      </ng-template>
      </div>
    <button 
      mat-icon-button 
      class="cart-button" 
      aria-label="Botón de carrito de compras"
      routerLink="/carrito" 
      [matBadge]="cartItemCount > 0 ? cartItemCount : null"
      matBadgeColor="warn"
      matBadgePosition="after"
      matBadgeSize="small">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button class="mobile-menu-button" [matMenuTriggerFor]="mobileMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #mobileMenu="matMenu">
      <button mat-menu-item (click)="openBookingDialog()">Reservar cita</button>
      <button mat-menu-item routerLink="/tienda">Tienda</button>
      <button mat-menu-item routerLink="/servicios">Servicios</button>
      <button mat-menu-item routerLink="/ubicaciones">Ubicaciones</button>
      <ng-container *ngIf="isLoggedIn$ | async; else loggedOutMobileMenu">
        <button mat-menu-item routerLink="/mi-cuenta">Mi Cuenta</button>
        <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
      </ng-container>
      <ng-template #loggedOutMobileMenu>
        <button mat-menu-item routerLink="/auth/login">Iniciar Sesión</button>
      </ng-template>
      <button mat-menu-item routerLink="/carrito">Mi Carrito</button>
    </mat-menu>
  </div>
</mat-toolbar>