.main-header {
  background: transparent; 
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; 
  display: flex;
  justify-content: center;
}
.content-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
.main-header a[mat-button] {
  color: white;
  font-size: 16px;
}
.logo-link {
  line-height: 0; 
}
.header-logo {
  height: 40px;
  width: auto;
}
.spacer {
  flex: 1 1 auto; 
}
.cart-button {
  color: white;
}
.desktop-menu {
  display: block; 
}
.mobile-menu-button {
  display: none; 
}
@media (max-width: 768px) {
  .desktop-menu {
    display: none; 
  }
  .mobile-menu-button {
    display: block; 
  }
}