<div class="carousel-container">
  <button mat-icon-button class="nav-button left" (click)="prevSlide()">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <div *ngFor="let slide of slides; let i = index" 
       class="slide" 
       [style.background-image]="'url(' + slide.imageUrl + ')'" 
       [class.active]="i === currentIndex">
        <div class="hero-text">
          <h2 class="subtitle">{{ slide.subtitle }}</h2>
          <h1>{{ slide.title }}</h1>
          <button mat-button class="hero-cta-button" (click)="onHeroButtonClick(slide)">
            {{ slide.buttonText }}
          </button>
        </div>
  </div>

  <button mat-icon-button class="nav-button right" (click)="nextSlide()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>