<h2 mat-dialog-title>
  {{ isEditMode ? 'Editar Servicio' : 'Crear Nuevo Servicio' }}
</h2>

<mat-dialog-content>
  <form [formGroup]="serviceForm" class="service-form">
    
    <div class="form-row" style="display: flex; gap: 1rem;">
      <mat-form-field appearance="outline" class="flex-50" style="flex: 1;">
        <mat-label>Nombre del Servicio</mat-label>
        <input matInput formControlName="name" required placeholder="Ej: Corte Fade">
        <mat-error *ngIf="serviceForm.get('name')?.hasError('required')">Requerido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="flex-50" style="flex: 1;">
        <mat-label>Categoría</mat-label>
        <mat-select formControlName="idTipoServicio" required>
          <mat-option *ngFor="let cat of categories" [value]="cat.idTipoServicio">
            {{ cat.category }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="serviceForm.get('idTipoServicio')?.hasError('required')">Requerido</mat-error>
      </mat-form-field>
    </div>

    <mat-divider style="margin: 1rem 0;"></mat-divider>

    <div class="form-row" style="display: flex; gap: 1rem;">
      <mat-form-field appearance="outline" class="flex-50" style="flex: 1;">
        <mat-label>Precio (S/)</mat-label>
        <input matInput type="number" formControlName="price" required min="0">
        <span matTextPrefix>S/&nbsp;</span>
      </mat-form-field>

      <mat-form-field appearance="outline" class="flex-50" style="flex: 1;">
        <mat-label>Duración (Minutos)</mat-label>
        <input matInput type="number" formControlName="duration" required step="10" min="10">
        <mat-icon matSuffix>schedule</mat-icon>
        <mat-hint>Afectará los cupos disponibles en el calendario.</mat-hint>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>URL de la Imagen</mat-label>
          <input matInput formControlName="imageUrl">
          <mat-icon matSuffix>image</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Descripción Detallada</mat-label>
      <textarea matInput formControlName="description" rows="3" placeholder="Detalles del servicio..."></textarea>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="onSave()" [disabled]="serviceForm.invalid">
    Guardar
  </button>
</mat-dialog-actions>