<div class="admin-wrapper">
  <nav class="admin-sidebar">
    <ul class="nav-links">
   <li>
    <a routerLink="dashboard" routerLinkActive="active-link"> 
        <mat-icon>dashboard</mat-icon> <span>Dashboard</span>
    </a>
</li>
      <li>
        <a routerLink="/admin/reservas" routerLinkActive="active-link">
          <mat-icon>calendar_month</mat-icon>
          <span>Citas</span>
        </a>
      </li>
      <li>
          <a routerLink="/admin/productos" routerLinkActive="active-link"> 
              <mat-icon>person_pin</mat-icon>
              <span>Productos</span>
          </a>
      </li>
      <li>
          <a routerLink="/admin/barberos" routerLinkActive="active-link"> 
              <mat-icon>person_pin</mat-icon>
              <span>Barberos</span>
          </a>
      </li>
      <li>
        <a routerLink="/admin/usuarios" routerLinkActive="active-link"> 
          <mat-icon>group</mat-icon>
          <span>Roles</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/pedidos" routerLinkActive="active-link">
          <mat-icon>shopping_bag</mat-icon>
          <span>Pedidos</span>
        </a>
      </li>
      <li>
        <a routerLink="sedes" routerLinkActive="active-link">
          <mat-icon>storefront</mat-icon>
          <span>Sedes</span>
        </a>
      </li>
      <li>
        <a routerLink="servicios" routerLinkActive="active-link">
          <mat-icon>spa</mat-icon>
          <span>Servicios</span>
        </a>
      </li>
      <li>
        <a routerLink="testimonios" routerLinkActive="active-link">
          <mat-icon>edit_note</mat-icon>
          <span>Testimonios</span>
        </a>
      </li>
      <li>
      <li>
        <a routerLink="contenido" routerLinkActive="active-link">
          <mat-icon>rate_review</mat-icon>
          <span>Contenido</span>
        </a>
      </li>
      <li>
        <a routerLink="/" routerLinkActive="active-link"> <mat-icon>home</mat-icon>
          <span>Ir al Sitio</span>
        </a>
      </li>
    </ul>
    </nav>
  <main class="admin-content">
    <router-outlet></router-outlet>
  </main>
</div>