<div class="account-page-wrapper">
  <mat-sidenav-container class="account-container">
    <mat-sidenav mode="side" opened class="side-menu">
      <div class="user-greet">
        Hola,
        <strong>{{ (currentUser$ | async)?.nombres || 'Usuario' }}</strong>
      </div>
      <mat-nav-list>
        <ng-container *ngIf="isAdmin$ | async">
            <a mat-list-item routerLink="/admin" routerLinkActive="active-link" class="admin-dashboard-link">
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard Admin</span>
            </a>
            <mat-divider></mat-divider> </ng-container>
        <a mat-list-item routerLink="perfil" routerLinkActive="active-link">
          <mat-icon>person</mat-icon>
          <span>Mi Perfil</span>
        </a>
        <a mat-list-item routerLink="reservas" routerLinkActive="active-link">
          <mat-icon>calendar_today</mat-icon>
          <span>Mis Reservas</span>
        </a>
        <a mat-list-item routerLink="pedidos" routerLinkActive="active-link">
          <mat-icon>shopping_bag</mat-icon>
          <span>Mis Pedidos</span>
        </a>
        <a mat-list-item routerLink="seguridad" routerLinkActive="active-link">
          <mat-icon>lock</mat-icon>
          <span>Seguridad</span>
        </a>
        <a mat-list-item (click)="logout()" class="logout-button">
          <mat-icon>logout</mat-icon>
          <span>Cerrar Sesión</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="account-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>