@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@300;400;500;700&display=swap');
html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Abel', sans-serif;
  background-color: #121212; 
}
.content-wrapper {
  width: 100%;
  max-width: calc(1920px - 680px); 
  margin: 0 auto; 
  padding: 0 20px;
  box-sizing: border-box;
}
.video-dialog-container .mat-mdc-dialog-container {
  background-color: #000 !important; 
  padding: 0 !important;
  border-radius: 0 !important; 
  box-shadow: none !important;
  overflow: hidden !important; 
}
.video-dialog-container .cdk-overlay-backdrop {
   background: rgba(0, 0, 0, 0.95) !important; 
}
.dark-theme-dialog-container .mat-mdc-dialog-container .mdc-dialog__surface {
  background: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  border-radius: 8px !important; 
}