@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@300;400;500;700&display=swap');
html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Abel', sans-serif;
  background-color: #121212; /* Dark background for the whole app */
}
.content-wrapper {
  width: 100%;
  max-width: calc(1920px - 680px); /* A common desktop width minus your margins */
  margin: 0 auto; /* This centers the container */
  padding: 0 20px;
  box-sizing: border-box;
}
